/* index.css */
body {
    background: linear-gradient(to bottom, #272627, #000000);
    margin: 0; 
    padding: 0; 
    font-family: Arial, sans-serif; 
    min-height: 100vh; 
}   

html, body, #root {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}