/* index.css */
body {
    background: linear-gradient(to bottom, #272627, #000000);
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 0; /* Elimina paddings predeterminados */
    font-family: Arial, sans-serif; /* Fuente predeterminada */
    min-height: 100vh; /* Asegura que el fondo cubra toda la pantalla */
}   